#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}

.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}

.h-48 {
  height: 48px !important;
}

.bg_color1{
  background-color: #F7F7F7 !important;
}

.text-dark {
  color: #000 !important;
}
.text_color1 {
  color: #798B95 !important;
}
.btn-dark {
  background-color: #000 !important;
  color: #fff !important;
}

.bg-note-info {
  background-color: #E3E9EA !important;
}

.rounded-2x {
  border-radius: 15px !important;
}
.rounded-3x {
  border-radius: 20px !important;
}
.rounded-4x {
  border-radius: 25px !important;
}
.w_480 {
  width: 480px !important;
}
.min_w_480 {
  min-width: 480px !important;
}
.max_w_480 {
  max-width: 480px !important;
}